name: spa_crm_pro
description: Spa CRM Pro - Flutter Web App
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Web support
  flutter_web_plugins:
    sdk: flutter

  # Supabase Flutter SDK
  supabase_flutter: ^2.3.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
