name: Flutter Web Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Enable Flutter Web
        run: flutter config --enable-web

      - name: Install dependencies
        working-directory: frontend
        run: flutter pub get

      - name: Build Flutter Web
        working-directory: frontend
        run: flutter build web --release

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: flutter-web-build
          path: frontend/build/web
